*{
	padding: 0;
	margin:0;
	border:0;
}
a:link,a:visited{
 text-decoration: none;
}

a:hover{
 text-decoration: none;
}

@media screen and (max-width: 800px) { 
	div.container {
		min-width: 30rem;
	}
}

@media screen and (min-width: 1200px) { 
	div.container {
		min-width: 52rem;
	}
} 

div#sidebar {
	background-color: #9855D4;
}

ul.nav {
	list-style: none;
}

div#sidebar li, div#sidebar li a {
	color: #FFF;
}

div#sidebar li:hover > a{
	color: #030103;
}

ul.nav > li.nav-header:hover {
	background-color: #BA8FF7;
}

li.menu_level_1 {
	padding-left: 1.2em;
}

.sidebar-toggle:active, #sidebar-checkbox:focus ~ .sidebar-toggle, #sidebar-checkbox:checked ~ .sidebar-toggle {
    color: #fff;
    background-color: #734098;
}




