
a:link,a:visited{
 text-decoration: none;
}

a:hover{
 text-decoration: none;
}

div#sidebar {
	background-color: #9855D4;
}

ul.nav {
	list-style: none;
}

div#sidebar li, div#sidebar li a {
	color: #FFF;
}

div#sidebar li:hover > a{
	color: #030103;
}

ul.nav > li.nav-header:hover {
	background-color: #BA8FF7;
}

.sidebar-toggle:active, #sidebar-checkbox:focus ~ .sidebar-toggle, #sidebar-checkbox:checked ~ .sidebar-toggle {
    color: #fff;
    background-color: #734098;
}




