nav#sidebar {
	background: -webkit-linear-gradient(left bottom,#9855D4,#412356);  
    background: -o-linear-gradient(left bottom,#9855D4,#412356);  
    background: -mos-linear-gradient(left bottom,#9855D4,#412356);  
    background: -moz-linear-gradient(left bottom,#9855D4,#412356);  
    background: linear-gradient(left bottom,#9855D4,#412356);  
}

p.copyright {
	padding: 10px;
}

.sidebar-btn{
    color: #fff;
    background-color: #412356;
}

.btn:hover, .btn:focus {
    color: #fff;
}


