<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn & Practice</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/metro-v4.2.39.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/emacs.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/usr.css">
    <script src="{{ site.baseurl }}/public/js/jquery-v3.3.1.js"></script>
    <script src="{{ site.baseurl }}/public/js/metro-v4.0.js"></script>
</head>

<body data-role="htmlcontainer">
    <header class="app-bar bg-day0 fg-white" data-role="appbar" data-expand-point="xxl" id="app-bar-155343276062398">
        <div class="text-upper">
            <button class="app-bar-item c-pointer" id="sidebar-toggle-1">
                <span class="mif-menu fg-white"></span>
            </button>
        </div>
        <ul class="app-bar-menu text-upper">
            {% for section in site.sections %}
            {% assign attr = section[0] %}
            {% assign label = section[1] %}
            <li>
                <a href="#" class="dropdown-toggle">{{ label }}</a>
                <ul class="d-menu" data-role="dropdown">
                    {% for page in site.categories[attr] %}
                    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </header>
    <aside class="sidebar pos-absolute z-2" data-role="sidebar" data-toggle="#sidebar-toggle-1"
        data-shift=".shifted-content">
        <ul class="sidebar-menu ">
            {% for section in site.sections %}
            {% assign attr = section[0] %}
            {% assign label = section[1] %}
            <li><a class="dropdown-toggle"><span>{{ label }}</span></a>
                <ul class="d-menu" data-role="dropdown">
                    {% for page in site.categories[attr] %}
                    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </aside>
    <div class="shifted-content h-100 p-ab">
        <div class="h-100 p-4">
            {{ content }}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("table").addClass("table table-hover");
            $("table thead tr th").attr("scope", "col");
            $("table tbody tr th").attr("scope", "row");

            var day = new Date().getDay();
            switch (day) {
                case 1:
                    $("header").attr("class" ,"app-bar bg-day0 fg-white app-bar-expand");
                    $("blockquote").css("border-left", "4px solid #6a737d");
                    break;
                case 2:
                    $("header").attr("class" ,"app-bar bg-day2 fg-white app-bar-expand");
                    $("blockquote").css("border-left", "4px solid #fdd600");
                    break;
                case 3:
                    $("header").attr("class" ,"app-bar bg-day3 fg-white app-bar-expand");
                    $("blockquote").css("border-left", "4px solid #f77832");
                    break;
                case 4:
                    $("header").attr("class" ,"app-bar bg-day4 fg-white app-bar-expand");
                    $("blockquote").css("border-left", "4px solid #008571");
                    break;
                case 5:
                    $("header").attr("class" ,"app-bar bg-day5 fg-white app-bar-expand");
                    $("blockquote").css("border-left", "4px solid #7cc7ff");
                    break;
                case 6:
                    $("header").attr("class" ,"app-bar bg-day6 fg-white app-bar-expand");
                    $("blockquote").css("border-left", "4px solid #030100");
                    break;
                case 0:
                   $("header").attr("class" ,"app-bar bg-day0 fg-white app-bar-expand");
                    $("blockquote").css("border-left", "4px solid #8c004a");
                    break;
            }

        });
    </script>







</body>

</html>